body{

	font-family: "helvetica", sans-serif;
	background-color: #000000;
	color: #FFFFFF;
  max-width: 2000px;
  margin: 0 auto;
}




.maintitle {
   	width: 750px;
  	margin-left: auto;
    margin-right: auto;
 	text-align: center;
  	background-color:  #C0C0C0;
  	color: #000000;
  	border-radius: 10px;
 }

.title {
   	width: 750px;
  	margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color:  #C0C0C0;
    color: #000000;
  	border-radius: 30px;
    
 }

 .subtitle {
 	width: 200px;
  	margin-left: 0px;
    margin-right: auto;
    font-size: large

 }

.article {
   	width: 750px;
   	margin-left: auto;
   	margin-right: auto;
   	text-align: left;
   	
 }

